> # **Using pd.read_csv to import CSV Files**

# **Introduction**
We are covering everything like importing Data, Cleaning Data, Merging, Joining and Concatenating Data, Group By Operations, Reshaping and pivoting DataFrame,Data Preparation and feature creation e.t.c

# Technology Used
Python, pandas

In [120]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/nse-tickers-and-their-yahoo-finance-equivalent-codes/NSE DATASET.csv

In [121]:
with open("/kaggle/input/nse-tickers-and-their-yahoo-finance-equivalent-codes/NSE DATASET.csv") as f:text = f.readlines()

In [122]:
#Importing Data
df = pd.read_csv("/kaggle/input/nse-tickers-and-their-yahoo-finance-equivalent-codes/NSE DATASET.csv")

In [123]:
df

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE,Unnamed: 8,YahooEquiv,Yahoo_Equivalent_Code
0,20MICRONS,20 Microns Limited,EQ,06-Oct-08,5,1,INE144J01027,5,.NS,20MICRONS.NS,"'20MICRONS.NS',"
1,21STCENMGM,21st Century Management Services Limited,EQ,03-May-95,10,1,INE253B01015,10,.NS,21STCENMGM.NS,"'21STCENMGM.NS',"
2,3IINFOTECH,3i Infotech Limited,EQ,22-Apr-05,10,1,INE748C01020,10,.NS,3IINFOTECH.NS,"'3IINFOTECH.NS',"
3,3MINDIA,3M India Limited,EQ,13-Aug-04,10,1,INE470A01017,10,.NS,3MINDIA.NS,"'3MINDIA.NS',"
4,3PLAND,3P Land Holdings Limited,EQ,19-Jul-95,2,1,INE105C01023,2,.NS,3PLAND.NS,"'3PLAND.NS',"
...,...,...,...,...,...,...,...,...,...,...,...
1660,ZODJRDMKJ,Zodiac JRD- MKJ Limited,EQ,19-Jul-95,10,1,INE077B01018,10,.NS,ZODJRDMKJ.NS,"'ZODJRDMKJ.NS',"
1661,ZOTA,Zota Health Care LImited,EQ,19-Aug-19,10,1,INE358U01012,10,.NS,ZOTA.NS,"'ZOTA.NS',"
1662,ZUARI,Zuari Agro Chemicals Limited,EQ,27-Nov-12,10,1,INE840M01016,10,.NS,ZUARI.NS,"'ZUARI.NS',"
1663,ZUARIGLOB,Zuari Global Limited,BE,12-Apr-95,10,1,INE217A01012,10,.NS,ZUARIGLOB.NS,"'ZUARIGLOB.NS',"
1664,ZYDUSWELL,Zydus Wellness Limited,EQ,13-Nov-09,10,1,INE768C01010,10,.NS,ZYDUSWELL.NS,'ZYDUSWELL.NS'

In [124]:
#checking the length of the lines 
len(text)

1666

In [125]:
#comparing the length with pandas 
len(df)

1665

**Reason of Different length :- ** As the Data in Excel will include the Headings as one line , It always be -1 length as compared to pandas Data

In [126]:
df.head()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE,Unnamed: 8,YahooEquiv,Yahoo_Equivalent_Code
0,20MICRONS,20 Microns Limited,EQ,06-Oct-08,5,1,INE144J01027,5,.NS,20MICRONS.NS,"'20MICRONS.NS',"
1,21STCENMGM,21st Century Management Services Limited,EQ,03-May-95,10,1,INE253B01015,10,.NS,21STCENMGM.NS,"'21STCENMGM.NS',"
2,3IINFOTECH,3i Infotech Limited,EQ,22-Apr-05,10,1,INE748C01020,10,.NS,3IINFOTECH.NS,"'3IINFOTECH.NS',"
3,3MINDIA,3M India Limited,EQ,13-Aug-04,10,1,INE470A01017,10,.NS,3MINDIA.NS,"'3MINDIA.NS',"
4,3PLAND,3P Land Holdings Limited,EQ,19-Jul-95,2,1,INE105C01023,2,.NS,3PLAND.NS,"'3PLAND.NS',"

In [127]:
df.tail()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE,Unnamed: 8,YahooEquiv,Yahoo_Equivalent_Code
1660,ZODJRDMKJ,Zodiac JRD- MKJ Limited,EQ,19-Jul-95,10,1,INE077B01018,10,.NS,ZODJRDMKJ.NS,"'ZODJRDMKJ.NS',"
1661,ZOTA,Zota Health Care LImited,EQ,19-Aug-19,10,1,INE358U01012,10,.NS,ZOTA.NS,"'ZOTA.NS',"
1662,ZUARI,Zuari Agro Chemicals Limited,EQ,27-Nov-12,10,1,INE840M01016,10,.NS,ZUARI.NS,"'ZUARI.NS',"
1663,ZUARIGLOB,Zuari Global Limited,BE,12-Apr-95,10,1,INE217A01012,10,.NS,ZUARIGLOB.NS,"'ZUARIGLOB.NS',"
1664,ZYDUSWELL,Zydus Wellness Limited,EQ,13-Nov-09,10,1,INE768C01010,10,.NS,ZYDUSWELL.NS,'ZYDUSWELL.NS'

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1665 entries, 0 to 1664
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SYMBOL                 1665 non-null   object
 1   NAME OF COMPANY        1665 non-null   object
 2    SERIES                1665 non-null   object
 3    DATE OF LISTING       1665 non-null   object
 4    PAID UP VALUE         1665 non-null   int64
 5    MARKET LOT            1665 non-null   int64
 6    ISIN NUMBER           1665 non-null   object
 7    FACE VALUE            1665 non-null   int64
 8   Unnamed: 8             1665 non-null   object
 9   YahooEquiv             1665 non-null   object
 10  Yahoo_Equivalent_Code  1665 non-null   object
dtypes: int64(3), object(8)
memory usage: 143.2+ KB

In [129]:
df.columns

Index(['SYMBOL', 'NAME OF COMPANY', ' SERIES', ' DATE OF LISTING',
       ' PAID UP VALUE', ' MARKET LOT', ' ISIN NUMBER', ' FACE VALUE',
       'Unnamed: 8', 'YahooEquiv', 'Yahoo_Equivalent_Code'],
      dtype='object')

In [130]:
df.describe()

        PAID UP VALUE   MARKET LOT   FACE VALUE
count     1665.000000  1665.000000  1665.000000
mean         6.741742     1.297297     6.741742
std          3.936771     5.418642     3.936771
min          1.000000     1.000000     1.000000
25%          2.000000     1.000000     2.000000
50%         10.000000     1.000000    10.000000
75%         10.000000     1.000000    10.000000
max         10.000000   100.000000    10.000000

In [131]:
df.isnull()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE,Unnamed: 8,YahooEquiv,Yahoo_Equivalent_Code
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1660,False,False,False,False,False,False,False,False,False,False,False
1661,False,False,False,False,False,False,False,False,False,False,False
1662,False,False,False,False,False,False,False,False,False,False,False
1663,False,False,False,False,False,False,False,False,False,False,False
1664,False,False,False,False,False,False,False,False,False,False,False

In [132]:
df.isnull().sum()

SYMBOL                   0
NAME OF COMPANY          0
 SERIES                  0
 DATE OF LISTING         0
 PAID UP VALUE           0
 MARKET LOT              0
 ISIN NUMBER             0
 FACE VALUE              0
Unnamed: 8               0
YahooEquiv               0
Yahoo_Equivalent_Code    0
dtype: int64

In [133]:
#Changing the index using index_col method
#Set DATE OF LISTING as index column
df1 = pd.read_csv("/kaggle/input/nse-tickers-and-their-yahoo-finance-equivalent-codes/NSE DATASET.csv",index_col= " DATE OF LISTING")

In [134]:
df1

,SYMBOL,NAME OF COMPANY,SERIES,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE,Unnamed: 8,YahooEquiv,Yahoo_Equivalent_Code
DATE OF LISTING,,,,,,,,,,
06-Oct-08,20MICRONS,20 Microns Limited,EQ,5,1,INE144J01027,5,.NS,20MICRONS.NS,"'20MICRONS.NS',"
03-May-95,21STCENMGM,21st Century Management Services Limited,EQ,10,1,INE253B01015,10,.NS,21STCENMGM.NS,"'21STCENMGM.NS',"
22-Apr-05,3IINFOTECH,3i Infotech Limited,EQ,10,1,INE748C01020,10,.NS,3IINFOTECH.NS,"'3IINFOTECH.NS',"
13-Aug-04,3MINDIA,3M India Limited,EQ,10,1,INE470A01017,10,.NS,3MINDIA.NS,"'3MINDIA.NS',"
19-Jul-95,3PLAND,3P Land Holdings Limited,EQ,2,1,INE105C01023,2,.NS,3PLAND.NS,"'3PLAND.NS',"
...,...,...,...,...,...,...,...,...,...,...
19-Jul-95,ZODJRDMKJ,Zodiac JRD- MKJ Limited,EQ,10,1,INE077B01018,10,.NS,ZODJRDMKJ.NS,"'ZODJRDMKJ.NS',"
19-Aug-19,ZOTA,Zota Health Care LImited,EQ,10,1,INE358U01012,10,.NS,ZOTA.NS,"'ZOTA.NS',"
27-Nov-12,ZUARI,Zuari Agro Chemicals Limited,EQ,10,1,INE840M01016,10,.NS,ZUARI.NS,"'ZUARI.NS',"
12-Apr-95,ZUARIGLOB,Zuari Global Limited,BE,10,1,INE217A01012,10,.NS,ZUARIGLOB.NS,"'ZUARIGLOB.NS',"
13-Nov-09,ZYDUSWELL,Zydus Wellness Limited,EQ,10,1,INE768C01010,10,.NS,ZYDUSWELL.NS,'ZYDUSWELL.NS'

In [135]:
#import specific columns only by usecols=[]
df1 = pd.read_csv("/kaggle/input/nse-tickers-and-their-yahoo-finance-equivalent-codes/NSE DATASET.csv", usecols=['SYMBOL', 'NAME OF COMPANY', ' SERIES', ' DATE OF LISTING'])

In [136]:
df1

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING
0,20MICRONS,20 Microns Limited,EQ,06-Oct-08
1,21STCENMGM,21st Century Management Services Limited,EQ,03-May-95
2,3IINFOTECH,3i Infotech Limited,EQ,22-Apr-05
3,3MINDIA,3M India Limited,EQ,13-Aug-04
4,3PLAND,3P Land Holdings Limited,EQ,19-Jul-95
...,...,...,...,...
1660,ZODJRDMKJ,Zodiac JRD- MKJ Limited,EQ,19-Jul-95
1661,ZOTA,Zota Health Care LImited,EQ,19-Aug-19
1662,ZUARI,Zuari Agro Chemicals Limited,EQ,27-Nov-12
1663,ZUARIGLOB,Zuari Global Limited,BE,12-Apr-95
1664,ZYDUSWELL,Zydus Wellness Limited,EQ,13-Nov-09

In [137]:
#changing the header to index None
df2 = pd.read_csv("/kaggle/input/nse-tickers-and-their-yahoo-finance-equivalent-codes/NSE DATASET.csv",header=None)

In [138]:
df2

,0,1,2,3,4,5,6,7,8,9,10
0,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE,NaN,YahooEquiv,Yahoo_Equivalent_Code
1,20MICRONS,20 Microns Limited,EQ,06-Oct-08,5,1,INE144J01027,5,.NS,20MICRONS.NS,"'20MICRONS.NS',"
2,21STCENMGM,21st Century Management Services Limited,EQ,03-May-95,10,1,INE253B01015,10,.NS,21STCENMGM.NS,"'21STCENMGM.NS',"
3,3IINFOTECH,3i Infotech Limited,EQ,22-Apr-05,10,1,INE748C01020,10,.NS,3IINFOTECH.NS,"'3IINFOTECH.NS',"
4,3MINDIA,3M India Limited,EQ,13-Aug-04,10,1,INE470A01017,10,.NS,3MINDIA.NS,"'3MINDIA.NS',"
...,...,...,...,...,...,...,...,...,...,...,...
1661,ZODJRDMKJ,Zodiac JRD- MKJ Limited,EQ,19-Jul-95,10,1,INE077B01018,10,.NS,ZODJRDMKJ.NS,"'ZODJRDMKJ.NS',"
1662,ZOTA,Zota Health Care LImited,EQ,19-Aug-19,10,1,INE358U01012,10,.NS,ZOTA.NS,"'ZOTA.NS',"
1663,ZUARI,Zuari Agro Chemicals Limited,EQ,27-Nov-12,10,1,INE840M01016,10,.NS,ZUARI.NS,"'ZUARI.NS',"
1664,ZUARIGLOB,Zuari Global Limited,BE,12-Apr-95,10,1,INE217A01012,10,.NS,ZUARIGLOB.NS,"'ZUARIGLOB.NS',"
1665,ZYDUSWELL,Zydus Wellness Limited,EQ,13-Nov-09,10,1,INE768C01010,10,.NS,ZYDUSWELL.NS,'ZYDUSWELL.NS'

In [139]:
#changing the header to index 1
df3 = pd.read_csv("/kaggle/input/nse-tickers-and-their-yahoo-finance-equivalent-codes/NSE DATASET.csv",header=1)

In [140]:
df3

,20MICRONS,20 Microns Limited,EQ,06-Oct-08,5,1,INE144J01027,5.1,.NS,20MICRONS.NS,"'20MICRONS.NS',"
0,21STCENMGM,21st Century Management Services Limited,EQ,03-May-95,10,1,INE253B01015,10,.NS,21STCENMGM.NS,"'21STCENMGM.NS',"
1,3IINFOTECH,3i Infotech Limited,EQ,22-Apr-05,10,1,INE748C01020,10,.NS,3IINFOTECH.NS,"'3IINFOTECH.NS',"
2,3MINDIA,3M India Limited,EQ,13-Aug-04,10,1,INE470A01017,10,.NS,3MINDIA.NS,"'3MINDIA.NS',"
3,3PLAND,3P Land Holdings Limited,EQ,19-Jul-95,2,1,INE105C01023,2,.NS,3PLAND.NS,"'3PLAND.NS',"
4,5PAISA,5Paisa Capital Limited,EQ,16-Nov-17,10,1,INE618L01018,10,.NS,5PAISA.NS,"'5PAISA.NS',"
...,...,...,...,...,...,...,...,...,...,...,...
1659,ZODJRDMKJ,Zodiac JRD- MKJ Limited,EQ,19-Jul-95,10,1,INE077B01018,10,.NS,ZODJRDMKJ.NS,"'ZODJRDMKJ.NS',"
1660,ZOTA,Zota Health Care LImited,EQ,19-Aug-19,10,1,INE358U01012,10,.NS,ZOTA.NS,"'ZOTA.NS',"
1661,ZUARI,Zuari Agro Chemicals Limited,EQ,27-Nov-12,10,1,INE840M01016,10,.NS,ZUARI.NS,"'ZUARI.NS',"
1662,ZUARIGLOB,Zuari Global Limited,BE,12-Apr-95,10,1,INE217A01012,10,.NS,ZUARIGLOB.NS,"'ZUARIGLOB.NS',"
1663,ZYDUSWELL,Zydus Wellness Limited,EQ,13-Nov-09,10,1,INE768C01010,10,.NS,ZYDUSWELL.NS,'ZYDUSWELL.NS'

In [141]:
#changing index name 
df3.index.name = "Serial No."

In [142]:
df3

,20MICRONS,20 Microns Limited,EQ,06-Oct-08,5,1,INE144J01027,5.1,.NS,20MICRONS.NS,"'20MICRONS.NS',"
Serial No.,,,,,,,,,,,
0,21STCENMGM,21st Century Management Services Limited,EQ,03-May-95,10,1,INE253B01015,10,.NS,21STCENMGM.NS,"'21STCENMGM.NS',"
1,3IINFOTECH,3i Infotech Limited,EQ,22-Apr-05,10,1,INE748C01020,10,.NS,3IINFOTECH.NS,"'3IINFOTECH.NS',"
2,3MINDIA,3M India Limited,EQ,13-Aug-04,10,1,INE470A01017,10,.NS,3MINDIA.NS,"'3MINDIA.NS',"
3,3PLAND,3P Land Holdings Limited,EQ,19-Jul-95,2,1,INE105C01023,2,.NS,3PLAND.NS,"'3PLAND.NS',"
4,5PAISA,5Paisa Capital Limited,EQ,16-Nov-17,10,1,INE618L01018,10,.NS,5PAISA.NS,"'5PAISA.NS',"
...,...,...,...,...,...,...,...,...,...,...,...
1659,ZODJRDMKJ,Zodiac JRD- MKJ Limited,EQ,19-Jul-95,10,1,INE077B01018,10,.NS,ZODJRDMKJ.NS,"'ZODJRDMKJ.NS',"
1660,ZOTA,Zota Health Care LImited,EQ,19-Aug-19,10,1,INE358U01012,10,.NS,ZOTA.NS,"'ZOTA.NS',"
1661,ZUARI,Zuari Agro Chemicals Limited,EQ,27-Nov-12,10,1,INE840M01016,10,.NS,ZUARI.NS,"'ZUARI.NS',"
1662,ZUARIGLOB,Zuari Global Limited,BE,12-Apr-95,10,1,INE217A01012,10,.NS,ZUARIGLOB.NS,"'ZUARIGLOB.NS',"
1663,ZYDUSWELL,Zydus Wellness Limited,EQ,13-Nov-09,10,1,INE768C01010,10,.NS,ZYDUSWELL.NS,'ZYDUSWELL.NS'